.checkout-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.checkout-container {
  width: 90%;
  display: flex;
  gap: 20px;
}

.checkout-item {
  width: 90%;
  align-items: center;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.08); /* very light transparent white */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  gap: 40px;
}

.checkout-price {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.08); /* very light transparent white */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  height: 300px;
  width: 25%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 200px;
}

.checkout-price h1 {
  font-size: 34px;
  font-weight: bold;
}

.checkout-btn {
  border-radius: 10px;
  background-color: rgb(68, 255, 68);
  font-size: 24px;
  margin-bottom: 28px;
}

.checkout-btn:active {
  background-color: green;
}

.remove-btn {
  border-radius: 10px;
  background-color: rgb(247, 65, 65);
  max-width: 100px;
  height: 30px;
}

.remove-btn:active {
  background-color: red;
}

.checkout-item #add-subtract {
  width: 60px;
  height: 35px;
  color: white;
  background-color: black;
  border-radius: 12px;
}

#add-subtract:hover {
  background-color: grey;
}

#add-subtract:disabled {
  background-color: #e0e0e0; /* light gray background */
  color: #888888; /* gray text */
  cursor: not-allowed;
  opacity: 1; /* optional: keeps it from looking faded */
}
