.featured-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-item {
  display: flex;
  margin: 100px 0 150px 0;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  padding: 0 55px;
}

.featured-item .product {
  background: none;
  box-shadow: none;
  width: 20%;
  height: 150px;
}

.featured-item .product img {
  width: 80px;
  height: 80px;
}
