#root {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 47px;
  background-color: rgb(8, 122, 8);
  color: white;
  width: 95%;
  overflow-x: hidden;
}
.logo {
  margin: 0;
  font-size: 40px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.navbar-head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 29px;
  background-color: rgba(136, 140, 155, 0.664);
  color: white;

  height: 27px;
}

.nav-head-link ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.logo-links {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0 10px;
  width: 50%;
  background-color: white;
  width: 500px;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 10px;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-page-products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-self: center;
}

.product {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1); /* semi-transparent */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  height: 100%;
}

.product h1 {
  font-size: 20px;
}

.product p {
  overflow-wrap: break-word;
  font-size: 15px;
  width: 50%;
}

.product img {
  width: 250px;
  height: 250px;
}

.product-sub-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding: 30px 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 50px;
}

.in-stock {
  color: rgb(5, 209, 5);
  font-weight: bold;
}

.low-stock {
  color: orange;
  font-weight: bold;
}

.out-of-stock {
  font-weight: bold;
  color: red;
}

.product-page {
  width: 100%;
}

.product-page h1 {
  font-size: 30px;
  text-align: center;
}

.product-page .row {
  flex-wrap: wrap;
  gap: 35px;
}

.navbar a {
  text-decoration: none;
}

.nav-link ul {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 20px;
  z-index: 3000;
}

.nav-link a {
  text-decoration: none;
  color: white;
  transition: color 0.2s ease;
}

.nav-link a:hover {
  color: grey;
}

.nav-link a.active {
  font-weight: bold;
  color: #0070f3; /* active link color */
  border-bottom: 2px solid #0070f3;
}

.nav-cart a.active {
  color: #0070f3;
}

.nav-cart p.active {
  color: #0070f3;
}

.nav-link .active {
  color: #0070f3;
}

.cart-search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 25%;
}

.cart-page {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  transform: translateX(100vw);
  transition: transform 0.6s ease-in-out;
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cart-page.show {
  transform: translateX(0);
}

.cart-page h1 {
  color: black;
}

.cart-icon {
  cursor: pointer;
}

.cart-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.product-img-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img-side {
  cursor: pointer;
}

.link-button {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.link-button:hover {
  background-color: rgb(156, 156, 156);
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-left: 4px;
}

.link-button:hover .arrow {
  transform: translateX(4px);
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 10;
}

.cart-item {
  color: black;
  display: flex;
  gap: 15px;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.08); /* very light transparent white */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  width: 95%;
  justify-content: center;
  max-height: 100px;
}

.cart-item p {
  font-size: 16px;
  width: 110px;
}

.cart-item button {
  width: 50px;
  height: 30px;
  font-size: 10px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.08);

  border-radius: 12px;
  border: 1px solid black;
}

.cart-item img {
  width: 50px;
  height: 50px;
}

.cart-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cart-buttons button {
  width: 200px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid black;
  font-size: 20px;
}

.cart-buttons a:visited {
  color: black;
}

.checkout {
  background-color: white;
}

.close-cart {
  color: white;
  background-color: black;
  cursor: pointer;
}

.nav-cart {
  display: flex;
  gap: 45px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-cart p {
  font-size: 17px;
}

.all-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-noItems {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.item-added {
  font-size: 23px;
  color: rgb(2, 184, 2);
  font-weight: 800;
  margin-top: 17px;
}

.no-items-small-cart {
  color: black;
  font-size: 24px;
}

.search-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

.dropdown-list {
  position: absolute;
  top: 37px;
  left: 0;
  right: 0;
  max-height: 250px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 9000;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: black;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.dropdown-no-results,
.dropdown-error,
.loading-indicator {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 8px 12px;
  z-index: 1000;
  color: #999;
  font-size: 14px;
}

.LogoImage image {
  width: 400px;
}

.featured-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-item {
  display: flex;
  margin: 100px 0 150px 0;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 50%;
  height: 260px;
  justify-content: space-between;
  align-items: center;
  padding: 0 55px;
}

.featured-item .product {
  background: none;
  box-shadow: none;
  width: 20%;
  height: 150px;
}

.featured-item .product img {
  width: 80px;
  height: 80px;
}

.nav-dropdown-toggle {
  cursor: pointer;
  position: relative;
}

.nav-dropdown-menu {
  position: absolute;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  gap: 30px !important;
  padding: 10px;
}

.nav-dropdown-menu li a {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
}

.subcategory-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  padding: 30px 0;
}

.front-product {
  margin: 10px 0;
}

.front-product button {
  background-color: rgb(16, 212, 16);
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s ease-in;
  margin-bottom: 20px;
}

.front-product button:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.front-prod-title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 👈 Max number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
  width: 70% !important;
}

@media (max-width: 1520px) {
  .nav-link ul {
    font-size: 16px;
    padding: 0;
    gap: 20px;
  }
}

@media (max-width: 1315px) {
  .nav-cart {
    gap: 30px;
  }
  .cart-page {
    width: 50%;
  }
  .search-container {
    display: none;
  }
}

@media (max-width: 1206px) {
  .search-container {
    width: 50%;
  }
  .nav-cart {
    gap: 20px;
  }
  .nav-link ul {
    gap: 12px;
  }
}

@media (max-width: 1138px) {
  .nav-link ul {
    display: none;
  }
  .search-container {
    width: 300px;
  }
  .navbar {
    justify-content: center;
    gap: 325px;
    padding-left: 5px;
    width: 96%;
  }
}

@media (max-width: 1080px) {
  .navbar {
    gap: 250px;
  }
}

@media (max-width: 860px) {
  .navbar {
    gap: 200px;
  }
  .cart-page {
    width: 80%;
  }
}
@media (max-width: 860px) {
  .navbar {
    gap: 200px;
  }
}

@media (max-width: 750px) {
  .navbar {
    gap: 150px;
  }
}

@media (max-width: 620px) {
  .cart-page {
    width: 100%;
  }

  .navbar {
    gap: 120px;
  }
}

@media (max-width: 376px) {
  .navbar {
    gap: 40px;
  }
}
